body{
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/*HOme*/
#home{
  display: none;
}
/*This div controls right menu btn*/
.rghtmenubtn{
  position: fixed;
  right:10px;
  top: 20px;

}

/*This class holds the main icon*/
.main_icon{
  position: absolute;
  left: 10px;


}

/*Attribute Table Below..*/
.attTable{
  height: 100%;
  border: 1px solid #3F51B5;
  display: none;
  /*height: 53.59%;*/
}

/*Attribute Handle table*/
.attTableDisplay{
    position: absolute;
    left: 50%;
    bottom:  -12;
    width: 34px;
    height: 34px;
    z-index: 999;
    margin-left: -40px;
    background-color: #3F51B5;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

/*End of handle table*/

.header{
   background-repeat: no-repeat;
   background-size: cover;
   height: 12%;
   display: none;
}
.spaceblock{
  width: 100%;
}

.logo{
  position: absolute;
  margin-left: 12px;
  cursor: pointer;
  bottom: 10px;
  z-index:10;
}

.ribbon{
  background: transparent;
  width: 100%;
}
.tabs{
  height:28px;
  list-style: none;
  font-family: 'Arvo', serif;
  text-shadow: 2px 2px 2px #ccc;
  font-size: 17;
  margin-left: 10px;
  color: white;
  margin: 0;
  padding: 0;
  display: none;

}
.tabs li{
  cursor: pointer;
  display: inline-block;
  height: 28px;
  min-width: 100px;
  text-align: center;

}

.active{
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.ribbonpanel{
  padding: 8px;
}
.containtools{
  width: 100%; height: 70%;
  box-shadow: 2px 2px .5px rgb(110,104,93);
}
.ribbontoolbox{
  float: left;
  padding: 0 8px 0 18px;

}



.riba{
   display: block;
    border: 1px solid transparent;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    color: #333;
    font-family: 'Hind', sans-serif;

    text-align: center;
    font-size: 15;
    font-weight: normal;
    cursor: pointer;

}
.riba:hover{
  background: #ff9933;

}


.right {
				box-shadow: 8px 0 8px -8px #333;
}

.left {
				box-shadow: -8px 0 8px -8px #333;
}

.ticket_form{
    display: none;
    position: fixed;
    bottom: 0;
    height: 520px;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: visible;
    width: 30%;
    z-index: 1000;

}



#tabs{
  display: none;
}
